# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Unit test / coverage reports
.coverage
.coverage.*
tests/data/*.dat

# Environments
env/
